<% style_session('que') %>


<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>题目<br>
      </h3>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">题目名称</th>
          <th class="text-center">题型</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @questions.each do |question| %>
            <tr>
              <td style="max-width:300px;">
                <%= question.questionname.html_safe %>
              </td>


              <td>
                <span style="color: dodgerblue">[&nbsp;
                  <% if question.questiontype.to_s.include?'XD' %>
                  对
                      <% end %>
                  <% if question.questiontype.to_s.include?'XC' %>
                  错
                      <% end %>
                  <% if question.questiontype.to_s.include?'TP' %>
                  图
                      <% end %>
                  <% if question.questiontype.to_s.include?'FTP' %>
                  非图
                      <% end %>
                  <% if question.questiontype.to_s.include?'SS' %>
                  手
                      <% end %>
                  <% if question.questiontype.to_s.include?'QJ' %>
                  情
                      <% end %>
                  <% if question.questiontype.to_s.include?'BZ' %>
                  标
                      <% end %>
                  <% if question.isjudge == '1' %>
                  <% select_count = 0 %>
                      <% @answers.each do |answer| %>
                      <% if answer.question_id == question.id  && answer.isright == 1 %>
                          <% select_count = select_count.to_i + 1 %>
                          <% end %>
                      <% end %>
                      <% if select_count.to_i > 1 %>
                      多
                          <% else %>
                      单
                      <% end %>
        <% end %>
                  ]</span>
              </td>






              <td>
                <%= link_to '', edit_question_path(question),class:'fa fa-edit','data-no-turbolink'=>true %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to '', question,class:'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>



<br>
      <div class="text-center">
        题目总数：<%= @questioncount %>
      </div>
      <div class="text-center">
        <%= will_paginate @questions, previous_label:'上一页', next_label: '下一页' %>
      </div>
      <%= link_to "新增", new_question_path,class: "btn btn-w-m btn-success mylink pull-right" ,'data-no-turbolink'=>true%>
      <br>
    </div>
  </div>
  <h4>
    注:&nbsp;
        <span style="color: dodgerblue">[&nbsp;
单
           ]</span>：
    单项选择题

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: dodgerblue">[&nbsp;
多
           ]</span>：
    多项选择题
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <span style="color: dodgerblue">[&nbsp;
对
           ]</span>：
    判断题选对的答案

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: dodgerblue">[&nbsp;
错
           ]</span>：
    判断题选错的答案
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <span style="color: dodgerblue">[&nbsp;
图
           ]</span>：
    图片题
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <span style="color: dodgerblue">[&nbsp;
手
           ]</span>：
    手势题

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: dodgerblue">[&nbsp;
标
           ]</span>：
    标志题

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: dodgerblue">[&nbsp;
情
           ]</span>：
    情景题

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: dodgerblue">[&nbsp;
非图
           ]</span>：
    非图片题
  </h4>
</div>
<%= render 'layerend' %>
