<script>
  $(document).ready(function(){
      $('.i-checks').iCheck({
          checkboxClass: 'icheckbox_square-green',
          radioClass: 'iradio_square-green'
      });



      $('#smt').click(function(){

          var cartype='';
          if($('#C1').is(':checked')){
              cartype+='C1:';
          }
          if($('#C2').is(':checked')){
              cartype+='C2:';
          }
          if($('#C3').is(':checked')){
              cartype+='C3:';
          }
          if($('#C4').is(':checked')){
              cartype+='C4:';
          }
          if($('#A1').is(':checked')){
              cartype+='A1:';
          }
          if($('#A3').is(':checked')){
              cartype+='A3:';
          }
          if($('#B1').is(':checked')){
              cartype+='B1:';
          }
          if($('#A2').is(':checked')){
              cartype+='A2:';
          }
          if($('#B2').is(':checked')){
              cartype+='B2:';
          }
          if($('#D').is(':checked')){
              cartype+='D:';
          }
          if($('#E').is(':checked')){
              cartype+='E:';
          }
          if($('#F').is(':checked')){
              cartype+='F:';
          }
          if($('#HF').is(':checked')){
              cartype+='HF:';
          }

          if(cartype.length>0)
          {

              cartype=cartype.substring(0,cartype.length-1);
              $('#cartype').val(cartype);
          }

          if($('#subject_id').val()=='')
          {
              $('.alert').addClass('showerr');
              $('.alert').removeClass('hiddenerr');
              $('.alert').html('请选择科目');
              return false;
          }

          if($('#classflag').val()=='')
          {
              $('.alert').addClass('showerr');
              $('.alert').removeClass('hiddenerr');
              $('.alert').html('标识不能为空');
              return false;
          }

      });

      $('#subjectid').change(function(){

          $('#subject_id').val($('#subjectid').val());
      });

      $('#addquestion').click(function(){

          $.layer({
              type: 2,
              shadeClose: true,
              title: false,
              closeBtn: [0, false],
              shade: [0.8, '#000'],
              border: [0],
              offset: ['20px',''],
              area: ['1000px', ($(window).height() - 50) +'px'],
              iframe: {src: '/questions/addquestion?claid='+$('#claid').val()}
          });


      });

      $('.delquestion').click(function(){

          $.ajax({
              type:"get",
              url:"/clas/delquestion?questionid="+$(this).val()+"&claid="+$('#claid').val(),
              datatype:'json',
              success:function(data) {
                  window.location.reload();
              }

          });

      });


/////////////////////////////以下是加载
if($('#cartype').val()!='')
{
    var cartype = $('#cartype').val().split(':');
    $(cartype).each(function(index,item){
       if(item=='C1')
       {
           $('#C1').iCheck('check');
       }
        if(item=='C2')
        {
            $('#C2').iCheck('check');
        }
        if(item=='C3')
        {
            $('#C3').iCheck('check');
        }
        if(item=='C4')
        {
            $('#C4').iCheck('check');
        }
        if(item=='A1')
        {
            $('#A1').iCheck('check');
        }
        if(item=='A3')
        {
            $('#A3').iCheck('check');
        }
        if(item=='B1')
        {
            $('#B1').iCheck('check');
        }
        if(item=='A2')
        {
            $('#A2').iCheck('check');
        }
        if(item=='B2')
        {
            $('#B2').iCheck('check');
        }
        if(item=='D')
        {
            $('#D').iCheck('check');
        }
        if(item=='E')
        {
            $('#E').iCheck('check');
        }
        if(item=='F')
        {
            $('#F').iCheck('check');
        }
        if(item=='HF')
        {
            $('#HF').iCheck('check');
        }
    });
}

      if($('#subject_id')!='')
      {
          $('#subjectid').val($('#subject_id').val());
      }





  });
</script>



<%= render 'layerbegin' %>
<div class="ibox-content form-horizontal m-t">
  <h3>编辑分类</h3>



  <%= form_for(@cla,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
      <br>
      <br>

      <div class="form-group">
        <label class="col-sm-2 control-label">驾照类型：</label>
        <div class="col-sm-9">
          <div class="col-sm-12">
            <table>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="C1" value="C1" class="leixing"> <i></i> C1</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="C2" value="C2" class="leixing"> <i></i> C2</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="C3" value="C3" class="leixing"> <i></i> C3</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="C4" value="C4" class="leixing"> <i></i> C4</label>
                </div>
              </td>
            </table>
          </div>
          <div class="col-sm-12">
            <table>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="A1" value="A1" class="leixing"> <i></i> A1</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="A3" value="A3" class="leixing"> <i></i> A3</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="B1" value="B1" class="leixing"> <i></i> B1</label>
                </div>
              </td>
            </table>
          </div>

          <div class="col-sm-12">
            <table>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="A2" value="A2" class="leixing"> <i></i> A2</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="B2" value="B2" class="leixing"> <i></i> B2</label>
                </div>
              </td>
            </table>
          </div>

          <div class="col-sm-12">
            <table>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="D" value="D" class="leixing"> <i></i> D&nbsp;&nbsp;</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="E" value="E" class="leixing"> <i></i> E&nbsp;&nbsp;</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="F" value="F" class="leixing"> <i></i> F</label>
                </div>
              </td>
            </table>
          </div>
          <div class="col-sm-12">

            <div class="icheckbox i-checks">
              <label>
                <input type="checkbox" id="HF" value="HF" class="leixing"> <i></i> 恢复驾考</label>
            </div>
          </div>
        </div>
      </div>

      <%= f.hidden_field :cartype,id:'cartype' %>
      <%= f.hidden_field :id,id:'claid' %>

      <div class="form-group">
        <label class="col-sm-2 control-label">科目名称：</label>
        <div class="col-sm-9">
          <%= f.hidden_field :subject_id ,class:"form-control",id:'subject_id' %>
          <select class="form-control m-b" id="subjectid">

            <option value="0">选择科目</option>
            <% @subjects.each do |subject| %>
                <option value=<%= subject.id %>>
                  <%= subject.subject %>
                </option>
            <% end %>
          </select>

        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">分类标识：</label>
        <div class="col-sm-9">
          <%= f.text_field :classflag ,class:"form-control",id:'classflag' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">分类名称：</label>
        <div class="col-sm-9">
          <%= f.text_field :name ,class:"form-control",id:'classflag' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">题型：</label>
        <div class="col-sm-9">
          <%= f.text_field :questiontype ,class:"form-control",id:'classflag' %>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-9">
          <%= f.submit '确定',class: "btn btn-w-m btn-primary mylink pull-right",id:'smt','data-no-turbolink'=>true %>
        </div>
      </div>




  <% end %>

  <input type="button" class="btn btn-w-m btn-primary mylink" value="编辑题" id="addquestion" />

  <div class="ibox-content">
    <table class="table table-hover table-bordered text-center">
      <thead>
      <tr>
        <th class="text-center">题目名称</th>
        <th class="text-center">删除</th>

      </tr>
      </thead>

      <tbody>
      <% @questions.each do |question| %>
          <tr>
            <td>
              <%= question.questionname.html_safe %>
            </td>
            <td >
              <button class="btn btn-success btn-sm delquestion" type="button" value=<%= question.id %> ><i class="fa fa-trash" style="margin: 0px;"></i>
              </button>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>


</div>


<%= render 'layerend' %>