<p id="notice"><%= notice %></p>

<p>
  <strong>章节:</strong>
  <%= @chapter.chapter %>(<%= @chapter.flag %>)
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
