

<% style_session('adm') %>
<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>管理员</h3>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">用户名</th>
          <th class="text-center">登陆名</th>

          <th class="text-center">状态</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.adminname %></td>
              <td><%= admin.login %></td>





              <td>
               <% if admin.status == 1 %>
                    正常
                    <% else %>
                    停用
                    <% end %>
             </td>






              <td><%= link_to '编辑', edit_admin_path(admin) %>
                <%= link_to '删除', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "新增", new_admin_path,class: "btn btn-w-m btn-success mylink pull-right" %>
      <br>
    </div>
  </div>
</div>
<%= render 'layerend' %>