<script>
  $(document).ready(function(){

      $('.i-checks').iCheck({
          checkboxClass: 'icheckbox_square-green',
          radioClass: 'iradio_square-green'
      });

      var elem = document.querySelector('.js-switch');
      var init = new Switchery(elem);

      $("#new_admin").validate({
          rules: {
              'admin[adminname]': {
                  required: true
              },
              'admin[login]': {
                  required: true,
                  minlength: 5,
                  remote: {
                      data: {
                          login: function(){
                              return $('#login').val();
                          }
                      },
                      url: "/admins/chkrpt",
                      type: "get"


                  }
              },
              'admin[password]': {
                  required: true,
                  minlength: 5
              },
              'admin[password_confirmation]': {
                  required: true,
                  minlength: 5,
                  equalTo: "#password"
              }
          },
          messages: {

              'admin[adminname]': {
                  required: "请输入您的姓名"

              },
              'admin[login]': {
                  required: "请输入您的用户名",
                  minlength: "用户名必须5个字符以上",
                  remote: "该账户已存在！"
              },
              'admin[password]': {
                  required: "请输入您的密码",
                  minlength: "密码必须5个字符以上"
              },
              'admin[password_confirmation]': {
                  required: "请再次输入密码",
                  minlength: "密码必须5个字符以上",
                  equalTo: "两次输入的密码不一致"
              }

          }
      });


      $('#smt').click(function(){
          var auth='';
          $('.leixing:checked').each(function(){
              auth+=$(this).val()+':';
          });
          if(auth.length>0)
          {
              auth=auth.substring(0,auth.length-1);
          }
          $('#auth').val(auth);

          if(elem.checked)
          {
              $('#status').val('1');
          }else
          {
              $('#status').val('0');
          }

      });



  });
</script>




<%= render 'layerbegin' %>

<div class="ibox-content form-horizontal m-t">

    <%= form_for(@admin,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
        <div class="form-group">
          <label class="col-sm-5 control-label">姓名：</label>
          <div class="col-sm-3">
            <%= f.text_field :adminname,class:"form-control" %>
          </div>
        </div>





        <div class="form-group">
          <label class="col-sm-5 control-label">用户名：</label>
          <div class="col-sm-3">
            <%= f.text_field :login,id:'login',class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-5 control-label">密码：</label>
          <div class="col-sm-3">
            <%= f.password_field :password,id:'password',class:'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">确认密码：</label>
          <div class="col-sm-3">
            <%= f.password_field :password_confirmation,class:'form-control' %>
          </div>
        </div>

            <%= f.hidden_field :auth,class:"form-control",id:'auth' %>




      <div class="form-group">
        <label class="col-sm-5 control-label">权限：</label>
        <div class="col-sm-3">
          <div class="col-sm-12">
            <table class="col-md-12">
              <tr>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="question" value="question" class="leixing"> <i></i> 题目</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="class" value="class" class="leixing"> <i></i>题型分类</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="admin" value="admin" class="leixing"> <i></i>管理员</label>
                </div>
              </td>
              <td>
                <div class="icheckbox i-checks">
                  <label>
                    <input type="checkbox" id="user" value="user" class="leixing"> <i></i>用户</label>
                </div>
              </td>
              </tr>
              <tr>
                <td>
                  <div class="icheckbox i-checks">
                    <label>
                      <input type="checkbox" id="record" value="record" class="leixing"> <i></i>用户记录</label>
                  </div>
                </td>
                <td>
                  <div class="icheckbox i-checks">
                    <label>
                      <input type="checkbox" id="license" value="license" class="leixing"> <i></i>序列号</label>
                  </div>
                </td>
                <td>
                  <div class="icheckbox i-checks">
                    <label>
                      <input type="checkbox" id="error" value="error" class="leixing"> <i></i>错题</label>
                  </div>
                </td>
                <td>
                  <div class="icheckbox i-checks">
                    <label>
                      <input type="checkbox" id="avatar" value="avatar" class="leixing"> <i></i>广告</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="icheckbox i-checks">
                    <label>
                      <input type="checkbox" id="all" value="all" class="leixing"> <i></i>系统管理员</label>
                  </div>
                </td>
              </tr>
            </table>
          </div>






        </div>
      </div>




        <div class="form-group">
          <label class="col-sm-5 control-label">状态：</label>
          <div class="col-sm-3">
            <%= f.hidden_field :status,class:"form-control",id:'status' %>
            <input type="checkbox" class="js-switch" checked />

          </div>
        </div>
        <%= f.submit '确定',class: "btn btn-w-m btn-success mylink pull-right",id:'smt','data-no-turbolink'=>true %>
        <br>
    <% end %>
</div>
<%= render 'layerend' %>




<%= link_to 'Back', admins_path %>
