<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :head %><br>
    <%= f.text_field :head %>
  </div>
  <div class="field">
    <%= f.label :studentid %><br>
    <%= f.text_field :studentid %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :idcard %><br>
    <%= f.number_field :idcard %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :money %><br>
    <%= f.text_field :money %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :Subject %><br>
    <%= f.text_field :Subject %>
  </div>
  <div class="field">
    <%= f.label :logintype %><br>
    <%= f.text_field :logintype %>
  </div>
  <div class="field">
    <%= f.label :loginnumber %><br>
    <%= f.number_field :loginnumber %>
  </div>
  <div class="field">
    <%= f.label :logintime %><br>
    <%= f.text_field :logintime %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
