<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">

    <div class="ibox-title">
      <h3>用户</h3>
    </div>


    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">帐号</th>
          <th class="text-center">密码</th>
          <th class="text-center">类型</th>
          <th class="text-center">次数/截止日期</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.login%></td>
              <td><%= user.password%></td>

            </tr>
        <% end %>




        </tbody>
      </table>
    </div>
  </div>
</div>


  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.password %></td>
        <td><%= user.head %></td>
        <td><%= user.studentid %></td>
        <td><%= user.sex %></td>
        <td><%= user.age %></td>
        <td><%= user.idcard %></td>
        <td><%= user.name %></td>
        <td><%= user.money %></td>
        <td><%= user.model %></td>
        <td><%= user.Subject %></td>
        <td><%= user.logintype %></td>
        <td><%= user.loginnumber %></td>
        <td><%= user.logintime %></td>
        <td><%= user.status %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New User', new_user_path %>


<br>

<%= @mycpu %><br>
<%= render 'layerend' %>