
<% style_session('user') %>



<%= render 'layerbegin' %>

<script>
    $(document).ready(function(){

        $('#search').click(function(){
            location.href="/users?user="+$('#login').val();
        });



    });
</script>

<div class="col-lg-12">
  <div class="ibox float-e-margins">

    <div class="ibox-title">
      <h3>用户</h3>
    </div>


    <div class="ibox-content ">
      <div class="col-md-12">
        <div class="col-md-3">
          <input class="form-control "  placeholder="用户名" id="login">
        </div>

        <div class="col-md-2">
          <input type="button" class="btn btn-success btn-sm" value="搜索" id="search">
        </div>
      </div>
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">创建主体</th>
          <th class="text-center">帐号</th>
          <th class="text-center">密码</th>
          <th class="text-center">次数</th>
          <th class="text-center">截止日期</th>
          <th class="text-center">权限</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
                    <tr>
                      <td>
                        <% @admins.each do |admin| %>
                        <% if user.admin_id == admin.id %>
                            <%= admin.adminname %>
                                <% break %>
                            <% end %>
                        <% end %>
                      </td>
              <td><%= user.login%></td>
              <td><%= user.password %></td>
            <td>
              <%= user.loginnumber  %>
            </td>
              <td>
                    <%= user.logintime  %>
              </td>
              <td>

                <% if user.status == '0'%>
                    停用
                <% elsif user.status =='1' %>
                    正常
                <% else %>
                    未审核
                <% end %>




              </td>
              <td>
                <%= link_to '', edit_user_path(user),class:'fa fa-edit','data-no-turbolink'=>true %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <%= link_to '', user,class:'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>




        </tbody>
      </table>
    </div>
  </div>
</div>


  <tbody>



  </tbody>
</table>
<div class="text-center">
  用户量：<%= @usercount %>
</div>
<div class="text-center">

  <%= will_paginate @users, previous_label:'上一页', next_label: '下一页' %>

</div>
<%= link_to "新建用户", new_user_path('user'),class: "btn btn-w-m btn-success mylink pull-right" ,'data-no-turbolink'=>true%>

<br>


<%= render 'layerend' %>