<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Head:</strong>
  <%= @user.head %>
</p>

<p>
  <strong>Studentid:</strong>
  <%= @user.studentid %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Idcard:</strong>
  <%= @user.idcard %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Money:</strong>
  <%= @user.money %>
</p>

<p>
  <strong>Model:</strong>
  <%= @user.model %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @user.Subject %>
</p>

<p>
  <strong>Logintype:</strong>
  <%= @user.logintype %>
</p>

<p>
  <strong>Loginnumber:</strong>
  <%= @user.loginnumber %>
</p>

<p>
  <strong>Logintime:</strong>
  <%= @user.logintime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
