<p id="notice"><%= notice %></p>

<p>
  <strong>Autormerr:</strong>
  <%= @setting.autormerr %>
</p>

<p>
  <strong>Showerrcount:</strong>
  <%= @setting.showerrcount %>
</p>

<p>
  <strong>Model:</strong>
  <%= @setting.model %>
</p>

<p>
  <strong>Password:</strong>
  <%= @setting.password %>
</p>

<p>
  <strong>Prescore:</strong>
  <%= @setting.prescore %>
</p>

<p>
  <strong>Driverschoolname:</strong>
  <%= @setting.driverschoolname %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @setting.contact %>
</p>

<p>
  <strong>Addre:</strong>
  <%= @setting.addre %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @setting.introduction %>
</p>

<p>
  <strong>Testbenchnumber:</strong>
  <%= @setting.testbenchnumber %>
</p>

<p>
  <strong>Driverschoolpicture:</strong>
  <%= @setting.driverschoolpicture %>
</p>

<p>
  <strong>Province:</strong>
  <%= @setting.province %>
</p>

<p>
  <strong>Poweron:</strong>
  <%= @setting.poweron %>
</p>

<p>
  <strong>Closepassword:</strong>
  <%= @setting.closepassword %>
</p>

<p>
  <strong>Shownotification:</strong>
  <%= @setting.shownotification %>
</p>

<p>
  <strong>Softwaretitle:</strong>
  <%= @setting.softwaretitle %>
</p>

<p>
  <strong>Hidedriverlicense:</strong>
  <%= @setting.hidedriverlicense %>
</p>

<p>
  <strong>Hidesetting:</strong>
  <%= @setting.hidesetting %>
</p>

<p>
  <strong>Textreplace:</strong>
  <%= @setting.textreplace %>
</p>

<p>
  <strong>Scrollingtext:</strong>
  <%= @setting.scrollingtext %>
</p>

<p>
  <strong>Functionalmodule:</strong>
  <%= @setting.functionalmodule %>
</p>

<p>
  <strong>Subjiectmodule:</strong>
  <%= @setting.subjiectmodule %>
</p>

<p>
  <strong>Learningmodule:</strong>
  <%= @setting.learningmodule %>
</p>

<p>
  <strong>Displaytest:</strong>
  <%= @setting.displaytest %>
</p>

<p>
  <strong>Reshuffling:</strong>
  <%= @setting.reshuffling %>
</p>

<p>
  <strong>Autoclear:</strong>
  <%= @setting.autoclear %>
</p>

<p>
  <strong>Subjectfourbutton:</strong>
  <%= @setting.subjectfourbutton %>
</p>

<p>
  <strong>Registrationprocess:</strong>
  <%= @setting.registrationprocess %>
</p>

<p>
  <strong>Paymentlink:</strong>
  <%= @setting.paymentlink %>
</p>

<p>
  <strong>Customerserviceqq:</strong>
  <%= @setting.customerserviceQQ %>
</p>

<p>
  <strong>Customerserviceww:</strong>
  <%= @setting.customerserviceWW %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @setting.comment %>
</p>

<p>
  <strong>Registrationdisplay:</strong>
  <%= @setting.registrationdisplay %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
