<p id="notice"><%= notice %></p>

<p>
  <strong>Asnwer:</strong>
  <%= @answer.asnwer %>
</p>

<p>
  <strong>Isright:</strong>
  <%= @answer.isright %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
