<%= render 'layerbegin' %>
<div class="ibox-content form-horizontal m-t">
  <h3>新增学科</h3>



  <%= form_for(@subject,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
      <br>
      <br>

      <div class="form-group">
        <label class="col-sm-2 control-label">学科名称：</label>
        <div class="col-sm-9">
          <%= f.text_field :subject ,class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-9">
          <%= f.submit '确定',class: "btn btn-w-m btn-primary mylink pull-right",id:'smt','data-no-turbolink'=>true %>
        </div>
      </div>




  <% end %>

</div>
<%= render 'layerend' %>